<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<div class="recipes-container">
<div class="recipes">
<%= link_to "New recipe", new_recipe_path, class:"new-recipe" %>
  <% @recipes.each do |recipe| %>
      <%= render recipe %>
  <% end %>
</div>
</div>