/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

:root {
  --main: #3ec797;
  --main-darker: #32a079;
}

html,
body {
  height: calc(100% - 2rem);
}

body {
  background-color: white;
}

.header-container {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin: 0 2rem;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  gap: 2rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-left img {
  height: 2rem;
}

.nav-left h1 {
  font-size: 1.2rem;
}

.header-container ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.notice,
.alert {
  color: red;
  position: absolute;
  left: 50vw;
  transform: translate(-50%);
  top: 4rem;
  font-weight: 600;
}

.sign-up,
.sign-out {
  background-color: var(--main);
  padding: 0.8rem;
  border-radius: 1rem;
  color: white !important;
}

.sign-out {
  border: none;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.nav-link {
  position: relative;
  border-bottom: 0.2rem solid transparent;
}

.highlighted {
  border-bottom: 0.2rem solid var(--main);
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--main);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

.nav-link::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.nav-link:hover::after,
.nav-link:focus::after {
  transform: scale(1);
}

.green {
  color: var(--main);
}
