.public-recipes {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 30px;
}

.pub-recipe {
  display: flex;
  gap: 30px;
  border: 1px solid black;
  height: 300px;
  width: 460px;
  padding: 0 20px;
  align-items: center;
}

.recipe-title-user {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.foods-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fitems {
  font-size: 1.2rem;
}
