.recipes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  align-items: center;
}

.recipes {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.recipe-index {
  padding: 10px;
}

.container {
  display: flex;
  border: 1px solid black;
  padding: 30px;
  align-items: center;
  gap: 30px;
}

.new-recipe {
  align-self: flex-end;
  padding: 10px;
  border: 1px solid #666;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: var(--main);
}

.public-check {
  display: flex;
}

.title-button-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 20%;
}

.title-link {
  font-size: 3rem;
  color: var(--main);
}

.delete-btn {
  padding: 10px;
}
